<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-1 login">Login do Cliente</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe o seu Email"
           [(ngModel)]="usuario.email"
           #email="ngModel"
           class="form-control mb-1"
           [ngClass]="{
           'is-invalid':email.invalid && (email.durty || email.touched),
           'is-valid': email.valid && (email.durty || email.touched)
           }"
           email
           required />
    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.durty || email.touched) ">
      <div *ngIf="email.errors.required">
        Email é obrigatório
      </div>
      <div *ngIf="email.errors.email">
        Email está no formato inválido
      </div>

    </div>
    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha" placeholder="senha" name="senha" [(ngModel)]="usuario.senha"
           class="form-control mb-1"
              [ngClass]="{
           'is-invalid':senha.invalid && (senha.durty || senha.touched),
           'is-valid': senha.valid && (senha.durty || senha.touched)
           }"
           #senha ="ngModel"
           required/>
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.durty || senha.touched) ">
      <div *ngIf="senha.errors.required">
        Senha é obrigatória
      </div>

    </div>
    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="entrar()">Entrar</button>

    <div class="alert alert-danger" *ngIf="mensagem">
     {{mensagem}}
    </div>
    <img [src]="base64" [title]="titulo" />

  </form>
</div>
